@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.background-image{
    background-image: url('https://wallpapercave.com/wp/PMlULXT.jpg');
    height: 100vh;
    background-size:cover;
}
.text-right{
    text-align: right;
}
.navbar-brand{
    color: #D11111;
}
.nav-item{
    padding-right: 25px;
}
.nav-link{
    color: black;
}
.navbar-color{
    background-color: white;
}
.btn-color{
    color: lightslategrey;
    border-color: lightslategrey;
    font-weight: bold;
    padding: 15px;
    width: 150px;
    border-width: 2px;
}
.graph-design{
    border-radius: 25px;
    box-shadow: 5px 5px 15px lightslategrey;
}
.card-1{
    border-radius: 15px;
}
.heading{
    text-align: center;
    color: lightslategrey;
    font-family: cursive;
    font-size: 60px;   
}